@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/typography';

.beer-card{
    display:flex;
    flex-direction: row;
    background-image: url('./assets/images/beer.jpg');
    background-size: cover;
    background-color: black;
    border: 2px solid white;
    justify-content: space-evenly;
    
    &__content{
        // border: $primary-border;

        &-heading{
            text-decoration: underline;
            // color:blue;
            box-shadow: 1px 1px 8px rgba(0,0,0,1.3);
        }
        &-span{
            color:orange;
            text-wrap:nowrap;
        }
        &__ingredients{
            display: inline;
            
            // &-hops, &-malt, &-yeast{
            //     display: block;
            //     text-wrap:nowrap;

            // }
    
            &-hops{
                display: inline;
                text-wrap:nowrap;

            }
        }
    }

    &__image{
        height: 100%;
        width: 8%; 
    }

    p{
        display: block;
    }

}

// dont forget to build it mobile first
// also grid layout for main page

