@use "../../../assets/styles/variables" as *;

.nav-menu {
  background-color: $color-secondary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  .nav-menu__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-menu__cross {
    position: absolute;
    top: 2rem;
    right: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  .nav-menu__item {
    font-size: 1.875rem;
    text-decoration: none;
    color: $color-black;
    padding: 1.25rem;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .nav-menu {
    background-color: rgba($color-black, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-menu__content {
      position: relative;
      background-color: $color-secondary;
      width: 30%;
      height: 80%;
      border-radius: 1rem;
    }
  }
}
