$color-black: #2d3436;
$color-primary: rgb(180, 78, 47);
$color-secondary: rgb(146, 127, 20);
$h1-color: orange;
$primary-border: 4px solid wheat;;
$desktop-breakpoint: 768px;
// $box-shadow-title: 1px 1px 8px rgba(0,0,0,1.3);

