@import "../../../../assets/styles/typography";
@import "../../../../assets/styles/variables";

.filteritem-beer-card{
    display:flex;
    flex-direction: column;
    font-family: "Pacifico", cursive;
    border: $primary-border;
    background-color: $color-primary;
    width:100%;
    height: 100%;
    grid-area: auto;
    // grid-column: 1 / -1;
    &-span{
        color: black;
    }

    &__content{
        display: flex;
        flex-direction: row;
        
        &-text-heading{
            text-decoration: underline;
            color: rgb(0, 0, 0);
            box-shadow: 1px 1px 8px rgba(0,0,0,1.3);
            background-color: $color-secondary;
        }

    
        &-image{
            // border: 2px solid black;
            width: 10%;
            height: auto;
            min-height: 200px;
        }
    }

}

